body{
    font-style: normal;
    margin: 0;
}

.image-container{
    background-position: center;
    width: 80%;
    height: 600px;
    justify-content: space-between;
    margin-bottom: 20%;
    
}

.bannar-titel{
    position: absolute;
    right: 0;
    top: 50%;
    text-align: right;
    padding-right: 20px;
}

.banner-head{
    font-size: 50px;
    font-family:  "PT Sans", sans-serif;

}
.banner-description{
    font-size: 20px;
    color: slategray;
}
.btn-container{
    text-align: center;
}
.btn-primary{
    display: inline-block;
    padding: 15px 35px;
    font-size: 18px;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.btn-text{
    color: white;
    text-decoration: none;
}

.about-section{
    
    justify-content: space-between;
}
.about-section{
    text-align: ;
}

.banner-description ul{
    text-decoration: none;
    
}

main li{
    list-style: none;
}

/* flat-lay-abstract-composition-with-innovation-elements 1 

position: absolute;
width: 1600px;
height: 808px;
left: 1600px;
top: 808px;

background: url(flat-lay-abstract-composition-with-innovation-elements.jpg);
transform: rotate(-180deg);


All Thinks Are Possible If You believe 

position: absolute;
width: 525px;
height: 228px;
left: 845px;
top: 216px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;


color: #151414;*/

/* All Thinks Are Possible If You believe */







